<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="/path/to/folder/css/academicons.min.css"/>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">About Me</a></li>
	        	<li><a href="/research.html">Research</a></li>
			<li><a href="/teaching.html">Teaching & Mentoring</a></li>
			<li><a href="/dei.html">DEI Work</a></li>
    		</ul>
		</nav>
		<div class="container">
      
			{{ content }}

      </div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:cdfine@udel.edu"><span class="footer-icon">✉</span> Email</a></li>
			<li><a href="https://bsky.app/profile/carlifine.bsky.social" target="_blank"><span class="footer-icon">☁️</span> Bluesky</a></li>
			<li><a href="https://www.linkedin.com/in/carlifine/" target="_blank"><span class="footer-icon">🔗</span> LinkedIn</a></li>
			<li><a href="https://scholar.google.com/citations?hl=en&pli=1&user=dMIIFmgAAAAJ" target="_blank"><i class="ai ai-google-scholar-square ai-3x"></i>
 Google Scholar</a></li>
		</ul>
		</footer>
	</body>
</html>
